.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
  border: 2px solid salmon;
}

.otp-container {
}
.otp-container input {
  width: 30px;
  height: 30px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
